<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ab4152bd85.js" 
    crossorigin="anonymous"></script>
    <title>Sobre Emi</title>
</head>
<body id="ba">
    <header>
       
        <nav >
            <ul class="lia" >
                <a class="lia" href="/">| HOME |</a>
                <a class="lia" href="/about">ABOUT |</a>
                <a class="lia" href="/music">MUSIC |</a>
                <a class="lia" href="/contact">CONTACT |</a>
            </ul>
                  </nav class="about_nav2">
                       <a class="about_nav2" href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
                       <a class="about_nav2" href="https://www.fa-facebook.com"><i class="fa-brands fa-facebook"></i></a>
                       <a class="about_nav2" href ="https://www.apple.com.ar"><i class="fa-brands fa-apple"></i></a>
                       <a class="about_nav2" href="https://www.amazon.com.ar"><i class="fa-brands fa-amazon"></i></a>
                      <a class="about_nav2" href="https://www.instagram.com.ar"><i class="fa-brands fa-instagram"></i></a>
                   <nav>
        </nav>
    </header>
    <h1 class="about_h1">ABOUT <br> EMILIA //</h1>
    <h3 class="about_h3">"Seattle-based pop star makes her<br> indie debut with a hauntingly beautiful album" </h3>
        <p class="about_h3 p">- John Tirckle</p>
    <h3 class="about_h3">"Emilia Cole is one of the<br> scene's breakout stars"</h3>
    <p class="about_h3 p">- John Tirckle, Music Today Post 10:55</p>
    

    
</body>
</html>