<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ab4152bd85.js" 
    crossorigin="anonymous"></script>

    <title>Emilia ColeE</title>
</head>
<body id="idhome">
    <header >
        <nav >
            <ul>
                <a class="nav1" href="/">HOME</a><br><br>
                <a class="nav1" href="/about">ABOUT</a><br><br>
                <a class="nav1" href="/music">MUSIC</a><br><br>
                <a class="nav1" href="/contact">CONTACT</a>
            </ul>
            </nav>
                  <a class="n" href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
                  <a class="n" href="https://www.fa-facebook.com"><i class="fa-brands fa-facebook"></i></a>
                  <a class="n" href="https://www.apple.com.ar"><i class="fa-brands fa-apple"></i></a>
                  <a class="n" href="https://www.amazon.com.ar"><i class="fa-brands fa-amazon"></i></a>
                  <a class="n" href="https://www.instagram.com.ar"><i class="fa-brands fa-instagram"></i></a>     
            </nav>
    </header>

<h2 id="h2h">EMILIA<br> COLE  //</h2>
    
<h1 id="twist">TWIST IN MY REALITY</h1>
</body>
</html>
