<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ab4152bd85.js" 
    crossorigin="anonymous"></script>

    <title>Emilia ColeE</title>
</head>
<body id="bi">
    
    <header>
        <nav>
            <ul>
                <a href="/">HOME</a><br>
                <a href="/about">ABOUT</a><br>
                <a href="/music">MUSIC</a><br>
                <a href="/contact">CONTACT</a>
            </ul>
                  </nav>
                  <a href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
                  <a href="https://www.fa-facebook.com"><i class="fa-brands fa-facebook"></i></a>
                  <a href="https://www.apple.com.ar"><i class="fa-brands fa-apple"></i></a>
                  <a href="https://www.amazon.com.ar"><i class="fa-brands fa-amazon"></i></a>
                  <a href="https://www.instagram.com.ar"><i class="fa-brands fa-instagram"></i></a>
                   <nav>
        </nav>
    </header>

<h2>Emilia Cole //</h2>
    
<h1>TWIST IN MY REALITY</h1>
</body>
</html>
