<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ab4152bd85.js" 
    crossorigin="anonymous"></script>
    <title>Emilia Cole - Musica</title>
</head>
<body>
    <header id="musichead">
        <nav >
            <ul class="musicnav1">
                <li><a class="musicnav12"href="/">| HOME</a><br></li>
                <li><a class="musicnav12"href="/about">| ABOUT</a></li>
                <li><a class="musicnav12"href="/music">| MUSIC</a></li>
                <li><a class="musicnav12"href="/contact">| CONTACT |</a></li>
            </ul>
        </nav>
        <nav id="musicnav2">
                  <a id="musicnav2" href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
                  <a id="musicnav2" href="https://www.fa-facebook.com"><i class="fa-brands fa-facebook"></i></a>
                  <a id="musicnav2" href="https://www.apple.com.ar"><i class="fa-brands fa-apple"></i></a>
                  <a id="musicnav2" href="https://www.amazon.com.ar"><i class="fa-brands fa-amazon"></i></a>
                  <a id="musicnav2" href="https://www.instagram.com.ar"><i class="fa-brands fa-instagram"></i></a>
                  
        </nav>
    </header>
    <section>
      <h1 id="music_h1">MUSIC //</h1>
         <nav class="music_nav3" >
        <h4>Direct Links</h4>
        <ul>
           <li><a class="music_nav34"href="">Album</a> </li> 
           <li><a class="music_nav34"href="#A1">Video: Organic Love</a></li> 
          <li> <a class="music_nav34" href="#A2">Video: Street Light</a></li> 
        </ul>
        </nav>  
 </section>
<section>
    <article class="music_article1"><h1>ALBUM<br> TWIST IN MY REALITY</h1>
        <img id="music_img" src="img/emilia-play-list.png"></img>
        <ol class="music_ol" type="01">
    <li>▶Organic Love | 02:40</li>
    <li>▶Twist In My Reality | 02:10</li>
    <li>▶Street Lights | 03:28</li>
    <li>▶Love Don't Live Here Anymore (cover) | 03:49</li>
    <a href="">Go Top</a>
</ol>
    </article> 
    
    <article class="music_article2"></article>
        <h1 id="music_h5">VIDEO<br> ORGANIC LOVE</h1>
    <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        <p> Directed by VINCE MALC &
        EMILIA COLE <BR>Edited and Filmed by NICOLAS TROY <br>Produced by NIKI HEART,<br> Wix Films LTD
        </p>
        <a id="music_a1" href="">Go Top</a>
    </article>
    
    <article class="music_article3" > 
    <h1 id="music_h2">VIDEO<br> STREET LIGHT</h1>
<iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

<p> Directed by VINCE MALC &
    EMILIA COLE <BR>Edited and Filmed by NICOLAS TROY <br>Produced by NIKI HEART,<br> Wix Films LTD
    </p>
    <a id="music_a2"href="">Go Top</a>
</article>
</section>


</body>
</html>