<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ab4152bd85.js" 
    crossorigin="anonymous"></script>
    <title>Emilia Cole - Musica</title>
</head>
<body>
    <header id="headmusic">
        <nav id="headnav">
            <ul >
                <li><a href="/">HOME</a><br></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/music">MUSIC</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
                </nav>
                  <a href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
                  <a href="https://www.fa-facebook.com"><i class="fa-brands fa-facebook"></i></a>
                  <a href="https://www.apple.com.ar"><i class="fa-brands fa-apple"></i></a>
                  <a href="https://www.amazon.com.ar"><i class="fa-brands fa-amazon"></i></a>
                  <a href="https://www.instagram.com.ar"><i class="fa-brands fa-instagram"></i></a>
                  <nav>
        </nav>
    </header>
    <section>
      <h1>MUSIC //</h1>
          <h4>Direct Links</h4><ul>
           <a href="">Album</a><br>
            <a href="#A1">Video: Organic Love</a><br>
            <a href="#A2">Video: Street Light</a></ul>
 </section>
<section>
    <article><h1>ALBUM<br> TWIST IN MY REALITY</h1>
        <img id="img" src="img/emilia-play-list.png">
        <ol type="01">
    <li>▶Organic Love | 02:40</li>
    <li>▶Twist In My Reality | 02:10</li>
    <li>▶Street Lights | 03:28</li>
    <li>▶Love Don't Live Here Anymore (cover) | 03:49</li>
    <a href="">Go Top</a>
</ol>
    </article > <h1 id="A1">
        VIDEO<br> ORGANIC LOVE
    </h1>
    <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

    <p > Directed by VINCE MALC &
        EMILIA COLE <BR>Edited and Filmed by NICOLAS TROY <br>Produced by NIKI HEART,<br> Wix Films LTD
        </p>
        <a href="">Go Top</a>
</article>
<article id="A2"> <h1>
    VIDEO<br> STREET LIGHT
</h1>
<iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

<p> Directed by VINCE MALC &
    EMILIA COLE <BR>Edited and Filmed by NICOLAS TROY <br>Produced by NIKI HEART,<br> Wix Films LTD
    </p>
    <a href="">Go Top</a>
</article>
</section>


</body>
</html>